.marquee {
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));

  display: grid;
  align-items: center;
  height: 50px;
  position: relative;
  overflow: hidden;
  background-color: var(--surface-color);
  &__inner {
    width: fit-content;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 10s linear infinite;
    animation-play-state: playing;
  }
  span {
    color: var(--background-color);
    font-family: var(--title-font);
    font-size: 1.25rem;
    width: max-content;
  }
}

.marquee:hover .marquee__inner {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
