/* Variables */

:root {
  --default-color: hsl(0, 0%, 95%);
  --border-color: hsl(0, 0%, 10%);
  --brand-color: hsl(0, 79%, 63%);
  --rad-md: 8px;
  --rad-sm: 4px;
  --default-gap: 1rem;
  --velocity: linear;

  @media (prefers-reduced-motion: no-preference) {
    --velocity: 150ms ease-in-out;
  }
}

/* Composition */

.stack {
  display: grid;
  row-gap: var(--gap, var(--default-gap));
}

.row {
  display: flex;
  gap: var(--gap, 12px);
  align-items: flex-end;
  [flexible] {
    flex-wrap: wrap;
  }
}

.centered {
  --padding: 1rem;
  display: grid;
  row-gap: var(--gap, var(--default-gap));
  grid-template-columns:
    1fr
    min(var(--center-size, calc(1024px - (var(--padding, 0px) / 2))), 100%)
    1fr;
  padding: var(--padding);
  & > * {
    grid-column: 2;
  }
}

.grid {
  --default-item-size: 350px;
  display: grid;
  gap: var(--gap, var(--default-gap));
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--min-size, var(--default-item-size)), 1fr)
  );
}

/* Block */

.color-picker {
  --gap: 0px 1rem;
  display: grid;
  grid-template: repeat(2, max-content) / max-content 1fr;
  grid-template-areas: "title ..." "picker input";
}

.color-picker__title {
  grid-area: title;
  transform: translateY(1ch);
}

.color-picker > label {
  &:first-of-type {
    --height: 40px;
    --width: 90px;
    display: block;
    position: relative;
    height: var(--height);
    width: var(--width);
    grid-area: picker;
  }
  &:last-of-type {
    grid-area: input;
  }
}

.color-drop {
  --height: 40px;
  --width: 90px;
  display: block;
  position: relative;
  height: var(--height);
  width: var(--width);

  &::before {
    display: block;
    height: 40px;
    width: 90px;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    border-radius: var(--rad-md);
    outline: 2px solid var(--border-color);
    outline-offset: 1px;
    background-color: var(--background, var(--default-color));
  }
}

.color-drop__input {
  appearance: none;
  outline: none;
  opacity: 0;
}

.color-input {
  --distance: 0.5em;
  display: grid;
  grid-template-rows: 18px 1fr;
  gap: 4px;
  font-size: 1rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--default-color);
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--brand-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform var(--velocity);
    z-index: 1;
  }
  &:focus-within {
    &::before {
      transform: scaleX(1);
    }
  }
}

.color-input__field {
  grid-area: 2 / 1 / 3 / 2;
  padding: var(--distance);
  border: none;
  background-color: transparent;
  font-size: inherit;
  &:is(:focus, :focus-visible) {
    outline: none;
  }
  &:placeholder-shown ~ .color-input__name {
    transform: translateY(50%);
  }
}

.color-input__name {
  grid-area: 2 / 1 / 3 / 2;
  position: absolute;
  bottom: 50%;
  margin-left: var(--distance);
  font-size: inherit;
  transform: translateY(calc(-100% - 6px));
  transition: transform var(--velocity);
}
