/* Variables */

:root {
  --default-color: hsl(0, 0%, 95%);
  --border-color: hsl(0, 0%, 10%);
  --brand-color: hsl(0, 79%, 63%);
  --rad-md: 8px;
  --rad-sm: 4px;
  --default-gap: 1rem;
  --velocity: linear;

  font-family: sans-serif;

  @media (prefers-reduced-motion: no-preference) {
    --velocity: 150ms ease-in-out;
  }
}

/* Composition */

.stack {
  display: grid;
  row-gap: var(--gap, var(--default-gap));
}

.row {
  display: flex;
  gap: var(--gap, 12px);
  align-items: flex-end;
  [flexible] {
    flex-wrap: wrap;
  }
}

.centered {
  --padding: 1rem;
  display: grid;
  row-gap: var(--gap, var(--default-gap));
  grid-template-columns:
    1fr
    min(var(--center-size, calc(1024px - (var(--padding, 0px) / 2))), 100%)
    1fr;
  padding: var(--padding);
  & > * {
    grid-column: 2;
  }
}

.bled {
  grid-column: 1 / -1;
}

.grid {
  --default-item-size: 350px;
  display: grid;
  gap: var(--gap, var(--default-gap));
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--min-size, var(--default-item-size)), 1fr)
  );
}

/* Block */

.color-select {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1ch;
}

.color-select__item {
  position: relative;
  &:not(:last-of-type) {
    display: flex;
    gap: 1ch;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 0.5ch;
  }
}

.color-picker {
  --size: 35px;
  inline-size: var(--size);
  block-size: var(--size);
  background-color: var(--color, #ddd);
  border-radius: 50%;
  border: 2px solid #1a1a1a;
}

.color-picker__input {
  inline-size: var(--size);
  block-size: var(--size);
  border-radius: 50%;
  opacity: 0;
}

.color-field__input {
  font-size: 1rem;
  padding: 0.5cap;
}

.contrast-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  & > :last-child {
    flex-basis: 360px;
    flex-grow: 1;
  }
  & > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
  }
}

.contast-list__item {
  background-color: var(--background);
  color: var(--foreground);
  padding: 1ch;
  font-size: 2rem;
}

.contrast-details {
  --gap: 0.5ch;
  grid-template-rows: 1fr max-content max-content;
  padding: 1ch;
}

.contrast-details__index {
  font-size: 3rem;
}

.contrast-details__tag {
  padding: 0.5ch 1.5ch;
  background-color: gray;
  width: fit-content;
  border-radius: 100vmax;
}

.contrast-details__text {
  font-size: 0.8rem;
  grid-row: 3;
}

/* .outline {
  box-shadow: 0 0 0 2px white;
} */

.btn\:delete {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-5px, -50%);
}
