* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-block-size: 100vh;
  background-color: var(--background-color);
  border: 12px solid var(--surface-color);
  color: var(--surface-color);
}

ul,
menu {
  list-style: none;
}

button {
  width: fit-content;
}
